{% extends "Reportes/cabeza.html" %}
{% load static %}

{% block content %}


<div class="col-lg-12">

    <div class="row">
        <div style=" background-color:#7B67FA ">
            <center>
                <H4>
                    <span style="font-style:font-size:2px">
                            <b>
                           <FONT COLOR="white">  NOTIFICACION ALMACEN  </FONT>
                            </b>
                    </span>
                </H4>
            </center>
        </div>
    </div>

<br>

<div class="row " style=" width:1250px;  height: 10px;"></div>

<div class="row " style=" width:1250px;  height: 20px;">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

        <form class="form-inline" action="AlmacenBusca" method="GET" id="formAlmacenBusca">



            <div class="form-row" style=" width:1250px;  height: 100px;">
                <div class="form-group col-md-4 ">
                    Suministre No solicitud:
                </div>

                <div class="form-group col-md-2 ">
                    <label for="solicitudId" class="col-form-label"></label>
                    <input type="text" id="solicitudId" name="solicitudId" style="width:90px;  height: 30px;"></input>
                </div>
                <div class="form-group col-md-1"></div>
                <div class="form-group col-md-5">
                      <input type="submit" id="btnEnviarSol" name="btnEnviarSol" value="Enviar"> </input>
                    <input type="hidden"  id="nombreSede" name="nombreSede" value={{NombreSede}} >
            <input type="hidden" " id="username" name="username" value={{Username}}>
            <input type="hidden"  id="sedeSeleccionada" name="sedeSeleccionada" value={{SedeSeleccionada}}>
            <input type="hidden"  id="nombreUsuario" name="nombreUsuario" value={{NombreUsuario}}>


                </div>

            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="row " style=" width:1600px;  height: 20px;"> </div>
<div class="row " style=" width:1600px;  height: 20px;"> </div>
<div class="row " style=" width:1600px;  height: 20px;"> </div>
<div class="row " style=" width:1600px;  height: 20px;">
     <div class="form-group col-md-5"> </div>
     <div class="form-group col-md-7 "><span style="color: #ed1b24" id="mensajes1"   name="mensajes1">{{Error}} </span>
    </div>
</div>
    </div>

{% endblock %}

{% block SUBGRUPO %}
{% endblock %}
