{% extends "Reportes/cabeza.html" %}
{% load static %}

{% block content %}

<script>
    window.onload = function(){



    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        /*------------------------------------------
        --------------------------------------------
        Post Listing Page
        --------------------------------------------
        --------------------------------------------*/
        <!--  alert("Cargue tabla"); -->
        var data = document.getElementById("solicitudId").value;
        <!-- alert ("data = " + data);  -->

        var table = $('.tablaOrdenesCompra').DataTable({
         "language": {
                  "lengthMenu": "Display _MENU_ registros",
                   "search": "Filtrar registros:",
                    "paginate": {
                         "first": "Primera pag",
                         "previous": "Anterior",
                         "next": "Siguiente",
                        }
                    },

            processing: true,
            serverSide: false,
            columnDefs: [
                {
                    "render": function ( data, type, row ) {
                        var btn = '';

                         btn = btn + " <button class='btn btn-primary editPost' data-pk='" + row.pk + "'>" + '<i class="fa fa-pencil"></i>' + "</button>";
                     <!--   btn = btn + " <button class='btn btn-danger deletePost' data-action='post/" + row.pk + "/delete' data-pk='" + row.pk + "'>" + '<i class="fa fa-trash"></i>' + "</button>"; -->

                        return btn;
                    },
                    "targets": 11
                }
            ],
            ajax: {

                 url:"/load_dataOrdenesCompra/" +  data,
                 type: "POST",

                dataSrc: ""
            },

            lengthMenu: [3, 5, 10, 20, 30, 40, 50],
            columns: [
                { data: "fields.item" },
                { data: "fields.descripcion" },
                { data: "fields.tiposCompra" },
                { data: "fields.nombre_producto" },
                { data: "fields.presentacion" },
                { data: "fields.iva" },
                { data: "fields.solicitadoOrdenCantidad" },
                { data: "fields.recibidoOrdenCantidad" },
                { data: "fields.valorUnitario" },
                { data: "fields.solicitadoOrdenValor" },
                { data: "fields.recibidoOrdenValor" },

            ]
        });

        /*------------------------------------------
        --------------------------------------------
        Click to Button
        --------------------------------------------
        --------------------------------------------*/
        $('#createNewPost').click(function () {
            $('#saveBtn').val("Create Post");
            $('#post_id').val('');
            $('#postForm').trigger("reset");
            $('#modelHeading').html("Create New Post");
            $('#ajaxModel').modal('show');
        });

        /*------------------------------------------
        --------------------------------------------
        Click to Edit Button
        --------------------------------------------
        --------------------------------------------*/
        $('body').on('click', '.editPost', function () {
          <!--  alert("Entre a Editar"); -->
          var username = document.getElementById("username").value;
         // var sedeSeleccionada = document.getElementById("sedeSeleccionada").value;
          var sedeSeleccionada = 'PEPITO';
          var nombreUsuario = document.getElementById("nombreUsuario").value;
          var nombreSede = document.getElementById("nombreSede").value;
          var solicitudId = document.getElementById("solicitudId").value;

            <!-- alert("username = " + username); -->

            var post_id = $(this).data('pk');
           <!--  alert("post_id = " + post_id); -->
            $.get("postValidacion" +'/' + post_id + ',' + username  + ',' + sedeSeleccionada +','+ nombreUsuario + ',' + nombreSede + ',' + solicitudId   +'/edit/' ,function (data) {

                <!-- alert("Aqui voy");  -->

                $('#modelHeading').html("Edit Post");
                $('#saveBtn').val("edit-post");
                $('#ajaxModel').modal('show');
                $('#pk').val(data.pk);
                $('#item').val(data.item);
                $('#descripcion').val(data.descripcion_id);
                $('#descripcion_nombre').val(data.descripcion);
                $('#tiposCompra').val(data.tiposCompra_id);
                $('#tiposCompra_nombre').val(data.tiposCompra);
                $('#producto').val(data.producto);
                $('#producto_nombre').val(data.nombre_producto);
                $('#presentacion').val(data.presentacion_id);
                $('#presentacion_nombre').val(data.presentacion);
                $('#cantidad').val(data.cantidad);
                $('#justificacion').val(data.justificacion);
                $('#especificacionesTecnicas').val(data.especificacionesTecnicas);
                $('#usuarioResponsableValidacion').val(data.usuarioResponsableValidacion_id);
                $('#usuarioResponsableValidacion_nombre').val(data.usuarioResponsableValidacion);
                $('#estadosValidacion').val(data.estadosValidacion_id);

            })
        });

        /*------------------------------------------
        --------------------------------------------
        Print Error Msg
        --------------------------------------------
        --------------------------------------------*/
        function printErrorMsg(msg) {
            $('.error-msg').find('ul').html('');
            $('.error-msg').css('display','block');
            $.each( msg, function( key, value ) {
                $(".error-msg").find("ul").append('<li>'+value+'</li>');
            });
        }

        /*------------------------------------------
        --------------------------------------------
        Create Post Code
        --------------------------------------------
        --------------------------------------------*/
        $('#saveBtn').click(function (e) {

          <!--  alert("Entre a Guardar saveBtn");  -->
            e.preventDefault();
            var username = document.getElementById("username").value;


            $(this).html('Sending..');
          <!--  alert( "data = " +  $('#postForm').serialize());  -->

            $.ajax({
                data: $('#postForm').serialize(),

                url: "{% url 'post_storeOrdenesCompra' %}",
                type: "POST",
                dataType: 'json',
                success: function (data) {
                <!-- alert("Entre satisfactorio");  -->

                    if ($.isEmptyObject(data.error)) {
                        $("input[name='item']").val('');
                        $("input[name='descripcion']").val('');
                        $("input[name='tiposCompra']").val('');
                        $("input[name='producto']").val('');
                        $("input[name='presentacion']").val('');
                        $("input[name='cantidad']").val('');
                        $("input[name='justificacion']").val('');
                        $("input[name='especificacionesTecnicas']").val('');
                        $("input[name='usuarioResponsableValidacion']").val('');
                        $("input[name='estadosValidacion']").val('');

                        $('#ajaxModel').modal('hide');
                        $('.success-msg').css('display','block');
                        $('.success-msg').text(data.message);
                    }else{
                        alert("Entre HORRORES");
                        printErrorMsg(data.error)
                    }
                    $('#postForm').trigger("reset");
                    table.ajax.reload();

                },
                error: function (data) {
                    $('#saveBtn').html('Save Changes');
                }
            });
        });

        /*------------------------------------------
        --------------------------------------------
        Delete Post Code
        --------------------------------------------
        --------------------------------------------*/
        $("body").on("click",".deletePost",function(){
            var current_object = $(this);
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "error",
                showCancelButton: true,
                dangerMode: true,
                cancelButtonClass: '#DD6B55',
                confirmButtonColor: '#dc3545',
                confirmButtonText: 'Delete!',
            },function (result) {
                if (result) {
                    var action = current_object.attr('data-action');
                    var token = $("input[name=csrfmiddlewaretoken]").val();
                    var id = current_object.attr('data-pk');

                    $('body').html("<form class='form-inline remove-form' method='post' action='"+action+"'></form>");
                    $('body').find('.remove-form').append('<input name="_method" type="hidden" value="delete">');
                    $('body').find('.remove-form').append('<input name="csrfmiddlewaretoken" type="hidden" value="'+token+'">');
                    $('body').find('.remove-form').append('<input name="id" type="hidden" value="'+id+'">');
                    $('body').find('.remove-form').submit();
                }
            });
        });
    });
</script>


<div class="col-lg-12">

    <div class="row">
        <div style=" background-color:#7B67FA ">
            <center>
                <H4>
                    <span style="font-style:font-size:2px">
                            <b>
                           <FONT COLOR="white">  ORDEN DE COMPRA  </FONT>
                            </b>
                    </span>
                </H4>
            </center>
        </div>
    </div>

<br>
    <!-- INICIO ENCABEZADO PROPUESTO -->
<!-- Comenzamos con la FORM -->

<form id="postFormaOrdenCompra" name="postFormaOrdenCompra" method="POST" class="form-horizontal" novalidate>
                     <input type="hidden" class="form-control" id="username" name="username" value={{ Username }}>
                    <input type="hidden" class="form-control" id="sedeSeleccionada" name="sedeSeleccionada" value={{ SedeSeleccionada }}>
                    <input type="hidden" class="form-control" id="nombreUsuario" name="nombreUsuario" value={{NombreUsuario}}>
                    <input type="hidden" class="form-control" id="nombreSede" name="nombreSede" value={{ NombreSede }}>
                    <input type="hidden" class="form-control" id="estadoReg" name="estadoReg" value="A">
                    <input type="hidden" class="form-control" id="solicitudId" name="solicitudId" value={{SolicitudId }}>
                    <input type="hidden" class="form-control" id="noOrdenCompra" name="noOrdenCompra" value={{NoOrdenCompra }}>


    <div class="row">
           <span id="message" name="message" style="color:blue">{{ message }}</span>
         <span id="error" name="error" style="color:blue">{{ error }}</span>
        <div class="col-md-12">
            <div class="card"  >
                <div class="card-header">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-4" >
                               <h6> FECHA DE ELABORACION: <span class="small" >{{ordenesCompraForm.fechaElab}}</span></h6>
                            </div>
                            <div class="col-sm-4">
                                <h6>FECHA DE REVISION: <span class="small">{{ordenesCompraForm.fechaRevi}}</span></h6>
                            </div>
                            <div class="col-sm-3">
                                <h6>FECHA APROBACION: <span class="small">{{ordenesCompraForm.fechaApro}}</span></h6>
                            </div>
                            <div class="col-sm-1">
                                <h6>ESTADO: <span class="small">{{ordenesCompraForm.estadoOrden}}</span></h6>
                            </div>

                         </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h6>ELABORO: <span class="small">{{ordenesCompraForm.elaboro}}</span></h6>
                            </div>

                            <div class="col-md-4">
                                <h6>REVIZO: <span class="small">{{ordenesCompraForm.revizo}}</span></h6>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                <h6>APROBO: <span class="small">{{ordenesCompraForm.aprobo}}</span></h6>
                            </div>
                         </div>
                        <div class="row">
                            <div class="col-md-12 " style="color:blue">
                            <center><h6>DATOS DE LA ORDEN DE COMPRA <span class="small" ></span></h6></center>
                                 </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h6>AREA: <span class="small">{{ordenesCompraForm.area}}</span></h6>
                            </div>
                            <div class="col-md-3">
                                <h6>CONTACTO: <span class="small">{{ordenesCompraForm.contacto}}</span></h6>
                            </div>
                            <div class="col-md-3">
                                <h6>ENTREGA EN: <span class="small">{{ordenesCompraForm.entregarEn}}</span></h6>
                            </div>
                            <div class="col-md-2">
                                <h6>TELEFONO: <span class="small">{{ordenesCompraForm.telefono}}</span></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="color:blue">
                            <center><h6>DATOS DEL PROVEEDOR: <span class="small"></span></h6></center>
                                 </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h6>RAZON SOCIAL: <span class="small">{{ordenesCompraForm.proveedor}}</span></h6>
                            </div>
                            <div class="col-md-6">
                                <h6>ATENCION: <span class="small"></span></h6>
                            </div>

                        </div>
                </div>
                <div class="card-body">
                    <div class="row" >
                        <div class="col-md-12" >
                            <div class="alert alert-success success-msg" style="display:none"></div>
                            <table class="table table-bordered tablaOrdenesCompra"   >
                                <thead>
                                <tr>

                                    <th>Item</th>
                                    <th>Descripcion</th>
                                    <th>Tipo</th>
                                    <th>Producto</th>
                                    <th>Presentacion</th>
                                    <th>Iva</th>
                                    <th>Cant.Solicitada</th>
                                    <th>Cant.Recibida</th>
                                    <th>ValorUnitario</th>
                                    <th>SolicitadoValor</th>
                                    <th>RecibidoValor</th>
                                     <th></th>

                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row" >
                        <div class="col-md-5" >
                             <h6>FORMA DE PAGO: <span class="small">{{ordenesCompraForm.opciones}}</span></h6>
                        </div>
                        <div class="col-md-4" >
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <h6>VALOR BRUTO: <span class="small">{{ordenesCompraForm.valorBruto}}</span></h6>
                            </div>
                            <div class="row">
                                <h6>DESCUENTO: <span class="small">{{ordenesCompraForm.descuento}}</span></h6>
                            </div>
                            <div class="row">
                                <h6>VALOR PARCIAL: <span class="small">{{ordenesCompraForm.valorParcial}}</span></h6>
                            </div>
                            <div class="row">
                                <h6>IVA: <span class="small">{{ordenesCompraForm.iva}}</span></h6>
                            </div>
                            <div class="row">
                                <h6>VALOR TOTAL: <span class="small">{{ordenesCompraForm.valorTotal}}</span></h6>
                            </div>

                        </div>

                    </div>
                    <div class="row" >
                        <div class="col-md-12" >
                             <center><h6>OBSERVACIONES: <span class="small">{{ordenesCompraForm.observaciones}}</span></h6> </center>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-3" >
                             <h6>RESP.COMPRA: <span class="small">{{ordenesCompraForm.responsableCompra}}</span></h6>
                        </div>
                        <div class="col-md-3" >
                            <h6>ENTREGA: <span class="small">{{ordenesCompraForm.entragaMercancia}}</span></h6>
                        </div>
                        <div class="col-md-3" >
                            <h6>RECIBE: <span class="small">{{ordenesCompraForm.recibeMercancia}}</span></h6>
                        </div>
                        <div class="col-md-3" >
                            <h6>DESCARGAR: <span class="small">
                             <figure class="figure">
                                <img src="{% static '/img/CSV.JPG' %}" class="figure-img img-fluid rounded"
                                        style="height:30px;"
                                            alt="...">
                                <figcaption class="figure-caption text-right">Descarga ...
                            </figcaption>
                            </figure>
                            </span></h6>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

        <div class="col-sm-offset-2 col-sm-10 mt-2">
            <center>


      <button type="submit" class="btn btn-primary" id="saveBtnOrdenCompra" value="create">GENERA ORDEN </button>
                </center>
                    </div>
 <!-- TERMINA FORM -->
 </form>


    <!-- MODAL -->

<div class="modal fade" id="ajaxModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelHeading"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger error-msg" style="display:none">
                    <ul class="mb-0"></ul>
                </div>
                <form id="postForm" name="postForm" class="form-horizontal" novalidate>

                    <input type="hidden" class="form-control" id="username" name="username" value={{ Username }}>
                    <input type="hidden" class="form-control" id="sedeSeleccionada" name="sedeSeleccionada" value={{ SedeSeleccionada }}>
                    <input type="hidden" class="form-control" id="nombreUsuario" name="nombreUsuario" value={{NombreUsuario}}>
                    <input type="hidden" class="form-control" id="nombreSede" name="nombreSede" value={{ NombreSede }}>
                    <input type="hidden" class="form-control" id="solicitudId" name="solicitudId" value={{ SolicitudId }}>

                    <input type="hidden" name="pk" id="pk">

                    <div class="form-group">
                        <label for="item" class="col-sm-2 control-label">Item</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="item" name="item" placeholder="Enter Item"
                                   value="" maxlength="50" readonly>
                        </div>
                    </div>
                    <input type="hidden" name="descripcion" id="descripcion">

                     <div class="form-group">
                        <label for="descripcion_nombre" class="col-sm-2 control-label">descripcion_nombre</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="descripcion_nombre" name="descripcion_nombre" placeholder="Enter descripcion"
                                   value="" maxlength="150" readonly>
                        </div>
                    </div>

                        <input type="hidden" name="tiposCompra" id="tiposCompra">

                     <div class="form-group">
                        <label for="tiposCompra_nombre" class="col-sm-2 control-label">tipo</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="tiposCompra_nombre" name="tiposCompra_nombre" placeholder="Enter tipo"
                                   value="" maxlength="150" readonly>
                        </div>
                    </div>

                 <input type="hidden" name="producto" id="producto">

                      <div class="form-group">
                        <label for="producto_nombre" class="col-sm-2 control-label">producto</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="producto_nombre" name="producto_nombre" placeholder="Enter producto"
                                   value="" maxlength="150" readonly>
                        </div>
                    </div>

                    <input type="hidden" name="presentacion" id="presentacion">

                           <div class="form-group">
                        <label for="presentacion_nombre" class="col-sm-2 control-label">presentacion</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="presentacion_nombre" name="presentacion_nombre" placeholder="Enter presentacion"
                                   value="" maxlength="150" readonly>
                        </div>
                    </div>

                           <div class="form-group">
                        <label for="cantidad" class="col-sm-2 control-label">cantidad</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="cantidad" name="cantidad" placeholder="Enter cantidad"
                                   value="" maxlength="50" readonly>
                        </div>
                    </div>

                             <div class="form-group">
                        <label for="justificacion" class="col-sm-2 control-label">justificacion</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="justificacion" name="justificacion" placeholder="Enter justificacion"
                                   value="" maxlength="150" readonly>
                        </div>
                    </div>

                         <div class="form-group">
                        <label for="especificacionesTecnicas" class="col-sm-2 control-label">especificacionesTecnicas</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="especificacionesTecnicas" name="especificacionesTecnicas" placeholder="Enter especificacionesTecnicas"
                                   value="" maxlength="150">
                        </div>
                    </div>

                      <input type="hidden" name="usuarioResponsableValidacion" id="usuarioResponsableValidacion">


                           <div class="form-group">
                        <label for="usuarioResponsableValidacion_nombre" class="col-sm-2 control-label">usuarioResponsableValidacion</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="usuarioResponsableValidacion_nombre" name="usuarioResponsableValidacion_nombre" placeholder="Enter usuarioResponsableValidacion_nombre"
                                   value="" maxlength="150" readonly>
                        </div>
                    </div>

                               <div class="form-group">
                        <label for="estadosValidacion" class="col-sm-2 control-label">estadosValidacion</label>
                        <div class="col-sm-12">

                             <select class="form-control" id="estadosValidacion" name="estadosValidacion" required>

                                 {% for estadosValidacion in EstadosValidacion %}
                                    <option value="{{estadosValidacion.id}}"> {{estadosValidacion.nombre}}</option>
                                    {% endfor %}

                            </select>

                           <!--     <input type="text" class="form-control" id="estadosValidacion" name="estadosValidacion" placeholder="Enter estado validacion"  value="" maxlength="50">  -->

                        </div>
                    </div>

                    <div class="col-sm-offset-2 col-sm-10 mt-2">
                        <button type="submit" class="btn btn-primary" id="saveBtn" value="create">Graba Cambios
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- FIN  MODAL -->

<!-- FIN ENCABEZADO PROPUESTO  -->

{% endblock %}

{% block SUBGRUPO %}
{% endblock %}
