{% extends "Reportes/cabeza.html" %}
{% load static %}

{% block content %}
<script>
window.onload = function(){
  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  var hora = fecha.getHours();
  var minutos = fecha.getMinutes();
  var segs = fecha.getSeconds();

  horario = hora+":"+minutos+":"+ segs;
  console.log(horario);

  if (hora < 10)
     hora = '0' + hora;  //agrega cero si el hora de 10
  if (minutos < 10)
        minutos = '0' + minutos;
  if (segs < 10)
         segs = '0' + segs;

      horario = hora+":"+minutos+":"+ segs;
  console.log(horario);

  if(dia<10)
    dia='0'+dia; //agrega cero si el menor de 10
  if(mes<10)
    mes='0'+mes //agrega cero si el menor de 10

  // document.getElementById('desdeFechaSolicitud').value=ano+"-"+mes+"-"+dia + " " +hora+":"+minutos+":"+ segs;
  // document.getElementById('hastaFechaSolicitud').value=ano+"-"+mes+"-"+dia + " " +hora+":"+minutos+":"+ segs;

  document.getElementById('desdeFechaSolicitud').value=ano+"-"+mes+"-"+dia +" "+ "00:00:00";
  document.getElementById('hastaFechaSolicitud').value=ano+"-"+mes+"-"+dia +" "+ "00:00:00";

}

</script>



<input type="hidden" class="form-control" id="username" name="username" value={{ Username }}>
<input type="hidden" class="form-control" id="sedeSeleccionada" name="sedeSeleccionada" value={{ SedeSeleccionada }}>
<input type="hidden" class="form-control" id="nombreUsuario" name="nombreUsuario" value={{NombreUsuario}}>
<input type="hidden" class="form-control" id="nombreSede" name="nombreSede" value={{ NombreSede }}>
<input type="hidden" class="form-control" id="solicitudId" name="solicitudId" value={{ SolicitudId }}>
<input type="hidden" class="form-control" id="perfil" name="perfil" value={{Perfil}}>


<div class="col-lg-12">

    <div class="row">
        <div style=" background-color:#7B67FA ">
            <center>
                <H4>
                    <span style="font-style:font-size:2px">
                            <b>
                                {% if NumeroReporte == '1' %}
                           <FONT COLOR="white"> SOLICITADO POR COORDINADOR </FONT>
                                {% endif %}
                                 {% if NumeroReporte == '2' %}
                           <FONT COLOR="white"> VALIDADO POR AMBITO </FONT>
                                {% endif %}
                                 {% if NumeroReporte == '3' %}
                           <FONT COLOR="white"> ALMACEN </FONT>
                                {% endif %}

                                {% if NumeroReporte == '4' %}
                           <FONT COLOR="white"> COMPRADO COORDINADOR </FONT>
                                {% endif %}
                            </b>
                    </span>
                </H4>
            </center>
        </div>
    </div>

    <br>


    <div class="row " style=" width:1250px;  height: 20px;">
        <!-- <div class="col-lg-3"></div>  -->
        <div class="col-lg-12">
            <form class="form-inline" action="" method="POST" id="formReportesConsultaTrae">

                <!-- Seria desde aqui para controlar la pantalla del reporte Es un row bootstrap-->
                {% if NumeroReporte == '1' %}
                <div class="form-row">



                    <div class="form-group col-md-1">

                        <label for="coordionador" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coordinador:</label>
                        <select class="form-control" id="coordionador" name="coordinador">
                            {% for coordinadores in Coordinadores %}
                            <option value="{{coordinadores.id}}"> {{coordinadores.nom_usuario}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4"></div>
                    <div class="form-group col-md-3">
                        <label for="desdeFechaSolicitud" class="col-form-label">Fecha Desde:</label>
                        <input type="datetime-local" class="form-control" id="desdeFechaSolicitud" name="desdeFechaSolicitud"></input>
                    </div>
                    <div class="form-group col-md-1"></div>

                    <div class="form-group col-md-3 ">
                        <label for="hastaFechaSolicitud" class="col-form-label">Fecha hasta:</label>
                        <input type="datetime-local" class="form-control" id="hastaFechaSolicitud" name="hastaFechaSolicitud"></input>
                        <input type="hidden" class="form-control" id="username" name="username" value={{Username}}>
                        <input type="hidden" class="form-control" id="sedeSeleccionada" name="sedeSeleccionada"
                               value={{SedeSeleccionada}}>
                        <input type="hidden" class="form-control" id="nombreUsuario" name="nombreUsuario"
                               value={{NombreUsuario}}>
                        <input type="hidden" class="form-control" id="perfil" name="perfil" value={{Perfil}}>
                        <input type="hidden" class="form-control" id="nombreSede" name="nombreSede"
                               value={{NombreSede}}>
                        <input type="hidden" class="form-control" id="numeroReporte" name="numeroReporte"
                               value="{{NumeroReporte}}">
                    </div>
                </div>
                {% endif %}
                <!-- Fin Seria desde aqui para controlar la pantalla del reporte -->

                <!--
                {% if NumeroReporte == '2' %}
                <div class="form-row">
                </div>
                {% endif %}
                -->

                {% if NumeroReporte == '2' or NumeroReporte == '4' or NumeroReporte == '3' %}
                <div class="form-row">
                     <div class="form-group col-md-1">

                        <label for="coordionador" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coordinador:</label>
                        <select class="form-control" id="coordionador" name="coordinador">
                            {% for coordinadores in Coordinadores %}
                            <option value="{{coordinadores.id}}"> {{coordinadores.nom_usuario}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4"></div>
                    <div class="form-group col-md-3">
                        <label for="desdeFechaSolicitud" class="col-form-label">Fecha Desde:</label>
                        <input type="datetime-local" class="form-control" id="desdeFechaSolicitud" name="desdeFechaSolicitud"></input>
                    </div>
                    <div class="form-group col-md-1"></div>

                    <div class="form-group col-md-3 ">
                        <label for="hastaFechaSolicitud" class="col-form-label">Fecha hasta:</label>
                        <input type="datetime-local" class="form-control" id="hastaFechaSolicitud" name="hastaFechaSolicitud"></input>
                        <input type="hidden" class="form-control" id="username" name="username" value={{Username}}>
                        <input type="hidden" class="form-control" id="sedeSeleccionada" name="sedeSeleccionada"
                               value={{SedeSeleccionada}}>
                        <input type="hidden" class="form-control" id="nombreUsuario" name="nombreUsuario"
                               value={{NombreUsuario}}>
                        <input type="hidden" class="form-control" id="perfil" name="perfil" value={{Perfil}}>
                        <input type="hidden" class="form-control" id="nombreSede" name="nombreSede"
                               value={{NombreSede}}>
                        <input type="hidden" class="form-control" id="numeroReporte" name="numeroReporte"
                               value="{{NumeroReporte}}">
                    </div>

                </div>
                {% endif %}


                <div class="row " style=" width:700px; height: 40px;">

                    <div class="col-lg-4"> </div>
                    <div class="col-lg-8">
                        <br>
                        <input type="radio" name="tipoArchivo" onclick="check(this.value)" value="excel"></input>
                        <img src="{% static '/img/EXCEL.JPG' %}" class="figure-img img-fluid rounded"
                             style="width:75px;height:50px;" alt="...">

                        <input type="radio" name="tipoArchivo" onclick="check(this.value)" value="pdf"></input>
                        <img src="{% static '/img/PDF1.JPG' %}" class="figure-img img-fluid rounded"
                             style="width:75px;height:50px;" alt="...">

                        <input type="radio" name="tipoArchivo" onclick="check(this.value)" value="csv"></input>
                        <img src="{% static '/img/CSV.JPG' %}" class="figure-img img-fluid rounded"
                             style="width:75px;height:50px;" alt="...">

                        <input type="radio" name="tipoArchivo" onclick="check(this.value)" value="grilla"></input>
                        <img src="{% static '/img/VISUALIZAR.JPG' %}" class="figure-img img-fluid rounded"
                             style="width:100px;height:50px;" alt="...">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">

                    </div>
                    <div class="form-group col-md-8">
                        <br>
                        <br>
                        <input type="submit" id="btnEnviarSol" name="btnEnviarSol" value="Enviar"> </input></div>

                </div>
                        {% if messages %}
                             <ul class="messages">
                             {% for message in messages %}
                               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                         </ul>
                        {% endif %}


            </form>
        </div>  <!-- Aqui termina el con de 12 --><!--  <div class="col-lg-3"></div>  -->
    </div>
    <div class="row " style="  height: 40px;"></div>
    <div class="row " style="  height: 40px;"></div>

    <div class="row " style="  height: 40px;"></div>
    <div class="row " style="   height: 20px;">
        <div class="form-group col-md-5"></div>
        <div class="form-group col-md-7 "><span style="color: #ed1b24" id="mensajes1" name="mensajes1">{{Error}} </span>
        </div>
    </div>
    <div class="row " style="  height: 40px;"></div>
    <div class="row " style="  height: 40px;"></div>
    <div class="row " style="  height: 40px;"></div>

</div>




{% endblock %}

{% block SUBGRUPO %}
{% endblock %}


