{% extends "Reportes/cabeza.html" %}
{% load static %}

{% block content %}

<script>
    window.onload = function(){

    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        /*------------------------------------------
        --------------------------------------------
        Post Listing Page
        --------------------------------------------
        --------------------------------------------*/

        var desdeFechaSolicitud = document.getElementById("desdeFechaSolicitud").value;


        var hastaFechaSolicitud = document.getElementById("hastaFechaSolicitud").value;
        var username = document.getElementById("username").value;
        var sedeSeleccionada = document.getElementById("sedeSeleccionada").value;
        var nombreUsuario = document.getElementById("nombreUsuario").value;
        var nombreSede = document.getElementById("nombreSede").value;
        var solicitudId = document.getElementById("solicitudId").value;
        var perfil = document.getElementById("perfil").value;




         var data =  {}   ;
         data['desdeFechaSolicitud'] = desdeFechaSolicitud;
         data['hastaFechaSolicitud'] = hastaFechaSolicitud;
         data['username'] = username;
         data['sedeSeleccionada'] = sedeSeleccionada;
         data['nombreUsuario'] = nombreUsuario;
         data['nombreSede'] = nombreSede;
         data['solicitudId'] = solicitudId;
         data['perfil'] = perfil;


        data = JSON.stringify(data);



        var table = $('.tablaSolicitudesConsulta').DataTable({
         "language": {
                  "lengthMenu": "Display _MENU_ registros",
                   "emptyTable": "No hay registros",
                    "info": "Mostrando desde el _START_ al _END_ del total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando desde el 0 al 0 del total de  0 registros",
                   "search": "Filtrar registros:",
                    "paginate": {
                         "first": "Primera pag",
                         "previous": "Anterior",
                         "next": "Siguiente",
                        }
                    },

            processing: true,
            serverSide: false,
            columnDefs: [
                {
                    "render": function ( data, type, row ) {
                        var btn = '';

                        btn = btn + " <button class='btn btn-primary editPost' data-pk='" + row.pk + "'>" + '<i class="fa fa-pencil"></i>' + "</button>";
                     <!--   btn = btn + " <button class='btn btn-danger deletePost' data-action='post/" + row.pk + "/delete' data-pk='" + row.pk + "'>" + '<i class="fa fa-trash"></i>' + "</button>"; -->

                        return btn;
                    },
                    "targets": 12
                }
            ],
            ajax: {

                 url:"/load_dataSolicitudesConsulta/" + data  +"/" ,
                 type: "POST",
                data: { desdeFechaSolicitud:desdeFechaSolicitud, hastaFechaSolicitud:hastaFechaSolicitud },
                dataSrc: ""
            },

            lengthMenu: [3, 5, 10, 20, 30, 40, 50],
            columns: [
                { data: "fields.id" },
                { data: "fields.fecha" },
                { data: "fields.item" },
                { data: "fields.descripcion" },
                { data: "fields.tiposCompra" },
                { data: "fields.nombre_producto" },
                { data: "fields.presentacion" },
                { data: "fields.cantidad" },
                { data: "fields.justificacion" },
                { data: "fields.especificacionesTecnicas" },
                { data: "fields.usuSolicitud" },
                { data: "fields.estadosValidacion" },

            ]
        });


        /*------------------------------------------
        --------------------------------------------
        Print Error Msg
        --------------------------------------------
        --------------------------------------------*/
        function printErrorMsg(msg) {
            $('.error-msg').find('ul').html('');
            $('.error-msg').css('display','block');
            $.each( msg, function( key, value ) {
                $(".error-msg").find("ul").append('<li>'+value+'</li>');
            });
        }


    });
</script>
<form id="postForma" name="postForma" class="form-horizontal" novalidate>

                    <input type="hidden" class="form-control" id="username" name="username" value={{ Username }}>
                    <input type="hidden" class="form-control" id="sedeSeleccionada" name="sedeSeleccionada" value={{ SedeSeleccionada }}>
                    <input type="hidden" class="form-control" id="nombreUsuario" name="nombreUsuario" value={{NombreUsuario}}>
                    <input type="hidden" class="form-control" id="nombreSede" name="nombreSede" value={{ NombreSede }}>
                    <input type="hidden" class="form-control" id="solicitudId" name="solicitudId" value={{ SolicitudId }}>
                    <input type="hidden" class="form-control" id="perfil" name="perfil" value={{Perfil}}>
                    <input type="hidden" class="form-control" id="desdeFechaSolicitud" name="desdeFechaSolicitud" value={{DesdeFechaSolicitud }}>
                    <input type="hidden" class="form-control" id="hastaFechaSolicitud" name="hastaFechaSolicitud" value={{HastaFechaSolicitud }}>



<div class="col-lg-12">

    <div class="row">
        <div style=" background-color:#7B67FA ">
            <center>
                <H4>
                    <span style="font-style:font-size:2px">
                            <b>
                           <FONT COLOR="white">  SOLICITUDES CONSULTAS  </FONT>
                            </b>
                    </span>
                </H4>
            </center>
        </div>
    </div>

    <br>
    <!-- INICIO ENCABEZADO PROPUESTO -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success success-msg" style="display:none"></div>
                            <table class="table table-bordered tablaSolicitudesConsulta">
                                <thead>
                                <tr>
                                    <th>Solicitud No</th>
                                    <th>Fecha</th>
                                    <th>Item</th>
                                    <th>Descripcion</th>
                                    <th>Tipo</th>
                                    <th>Producto</th>
                                    <th>Presentacion</th>
                                    <th>Cantidad</th>
                                    <th>Justificacion</th>
                                    <th>Espec.Tecnicas</th>
                                    <th>usuSolicitud</th>
                                    <th>Estado validacion</th>
                                    <th>Opciones</th>


                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                   </form>

{% endblock %}

{% block SUBGRUPO %}
{% endblock %}
